/aula-03/projeto/projeto.iws
/aula-03/projeto/test-result
/aula-03/projeto/tmp
/aula-03/projeto/projeto.iml
/aula-03/projeto/projeto.ipr
/aula-03/projeto/documentation
/aula-03/projeto/lib
/aula-04/aula-04.iml
/aula-04/aula-04.ipr
/aula-04/aula-04.iws
/aula-04/test-result
/aula-04/tmp
/design-patterns/design-patterns.iml
/design-patterns/design-patterns.ipr
/design-patterns/design-patterns.iws
/design-patterns/lib
/design-patterns/.idea
/design-patterns/tmp
